
h1 {
  font-size: 35px;
  height: fit-content;
  text-align: center;
  margin: 30px auto;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
display: block;
    margin: 8px;
    background-color: black;
    font-family: "Sofia", sans-serif;
}

.square {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
    border-color: black;
    border-style: outset;
    background-color: rgb(203, 144, 85);
}
.square.invalid{
  background-color: #ad2525;
}

.game {
  display: grid; 
   place-content: center; 
   height: 86vh;
  }

  .GameInstructions{
    font-size: 35px;
    height: fit-content;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;  }

.board {
  display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    width: 800px;
    height: 800px;
}

#root{
  font-family: "Sofia", sans-serif;
}



.tile.Blacktile{
    width:40px;
    height:40px;
    background-color: black;
    border-color: black;
    border-style: outset;
}
.tile.Whitetile{
    width:40px;
    height:40px;
    background-color: wheat;
    border-color: white;
    border-style: outset;
}
.tile.Emptytile{
    width:40px;
    height:40px;
}

.tile.Invalidtile{
    width:100px;
    height:100px;
    border-color: red;
    border-style: outset;
}
.tile.Validtile{
  width:100px;
    height:100px;
    border-color: greenyellow;
    border-style: outset;
}

.status {
  margin-bottom: 0px;
  background-color: white;
  font-size:35px;
  height: fit-content;
  text-align: center;
  font-family: "Sofia variant0", Tofu;
}

.status.Finish{
  background-color: aqua  ;
}

.status.Draw{
  background-color: red  ;
}
.generate-btn{
  display: block;
  margin: 102px auto;
  padding: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}